.site-head {
    min-width: 1152px;
    height: 150px;
}

.site-head .topbar {
    min-width: 1152px;
    height: 32px;
    background-color: #2A2A2A;
    line-height: 32px;
}

.site-head .topbar a {
    color: white;
}

.site-head .topbar .shortcut-links {
    float: left;
}

.site-head .topbar .shortcut-links>ul>li {
    float: left;
    margin-right: 18px;
    font-size: 12px;
}

.site-head .topbar .shortcut-links>ul>li.have-menu {
    padding-right: 12px;
    position: relative;
}

.site-head .topbar .shortcut-links>ul>li.have-menu .arrow {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -5px;
    transition: transform .25s linear 0s;
}

.site-head .topbar .shortcut-links>ul>li.have-menu:hover .arrow {
    transform: rotate(180deg);
}

.site-head .topbar .shortcut-links>ul>li.have-menu .arrow b {
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    top: -2px;
    transform: rotate(45deg);
}

.site-head .topbar .shortcut-links>ul>li.have-menu .arrow i {
    width: 10px;
    height: 10px;
    background-color: #2A2A2A;
    position: absolute;
    top: -4.5px;
    transform: rotate(45deg);
}

.site-head .topbar .shortcut-links>ul>li.have-menu .menu {
    position: absolute;
    top: 30px;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20);
    z-index: 9999;
    display: none;
}

.site-head .topbar .shortcut-links>ul>li.have-menu .menu .menu-list {
    padding: 8px;
}

.site-head .topbar .shortcut-links>ul>li.have-menu .menu ul.menu-list li a {
    color: #000;
}

.site-head .topbar .shortcut-links>ul>li.have-menu .sqmenu {
    width: 121px;
}

.site-head .topbar .shortcut-links>ul>li.have-menu .scmenu {
    width: 76px;
}

.site-head .topbar .shortcut-links>ul>li.have-menu .jdmsmenu {
    width: 64px;
}

.site-head .topbar .shortcut-links>ul>li.have-menu:hover .menu {
    display: block;
}

.site-head .topbar .topbar-r {
    width: 225px;
    float: right;
}

.site-head .topbar .topbar-r a,
.site-head .topbar .topbar-r span {
    color: white;
    margin-right: 10px;
}

.site-head .topbar .topbar-r a:last-child {
    margin-right: 0;
}

.site-head .main-nav {
    min-width: 1152px;
    height: 40px;
    background-color: #20BD9A;
    line-height: 40px;
}

.site-head .main-nav ul>li {
    float: left;
    margin-right: 18px;
}

.site-head .main-nav ul>li a {
    color: white;
    font-size: 16px;
}

.site-head .main-nav ul>li.have-menu {
    padding-right: 16px;
    position: relative;
}

.site-head .main-nav ul>li.have-menu:hover::before {
    transform: rotate(180deg);
}

.site-head .main-nav ul>li.have-menu::before {
    content: '';
    width: 0px;
    height: 0px;
    border: 5px solid transparent;
    border-bottom: none;
    border-top-color: white;
    position: absolute;
    top: 50%;
    right: 2px;
    margin-top: -2.5px;
    transition: transform .25s ease 0s;
}

.site-head .main-nav ul>li.have-menu .menu {
    position: absolute;
    top: 40px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20);
    display: none;
    padding: 8px;
    z-index: 9999;
}

.site-head .main-nav ul>li.have-menu:hover .menu {
    display: block;
}

.site-head .main-nav ul>li.have-menu .gtymenu {
    width: 160px;
}

.site-head .main-nav ul>li.have-menu .ddwlmenu {
    width: 106px;
}

.site-head .main-nav ul>li.have-menu .sdlymenu {
    width: 172px;
}

.site-head .main-nav ul>li.have-menu .jjzyxmenu {
    width: 118px;
}

.site-head .main-nav ul>li.have-menu .menu dl dt {
    font-size: 14px;
    line-height: 18px;
    font-weight: bolder;
}

.site-head .main-nav ul>li.have-menu .menu dl dd a {
    font-size: 12px;
    line-height: 18px;
    color: #000;
}

.site-head .header-con {
    height: 36px;
    padding: 21px 0;
}

.site-head .header-con h1 {
    float: left;
    font-size: 24px;
    color: #20BD9A;
    font-weight: bold;
}

.site-head .header-con .soso-box {
    float: left;
    width: 405px;
    height: 30px;
    margin-top: 2px;
    margin-left: 20px;
}

.site-head .header-con .soso-box input {
    float: left;
    width: 361px;
    height: 28px;
    border: 1px solid #20BD9A;
    border-radius: 4px 0 0 4px;
    font-size: 14px;
    /* 取消默认的外线（外线是文本框特有的东西） */
    outline: none;
    padding-left: 10px;
}

.site-head .header-con .soso-box .btn {
    float: left;
    width: 32px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #20BD9A;
    border-radius: 0 4px 4px 0;
}

.site-head .header-con .soso-box a {
    color: white;
    font-size: 20px;
}

.banner {
    min-width: 1152px;
    position: relative;
    overflow: hidden;
}

/* .banner img {
    width: 100%;
    vertical-align: middle;
} */

.banner .carousel {
    width: 600%;
    overflow: hidden;
    /* transform: translateX(-16.66%); */
}

.banner .carousel li {
    width: 16.66%;
    float: left;
}

.banner .carousel li img {
    width: 100%;
    vertical-align: middle;
}

.banner .circles {
    width: 160px;
    height: 20px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -75px;
    z-index: 99999;
}

.banner .circles li {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    float: left;
    margin-right: 10px;
    border-radius: 10px;
    transition: width .5s ease 0s;
    cursor: pointer;
}

.banner .circles li:last-child {
    margin-right: 0;
}

.banner .circles li.current {
    width: 40px;
    background-color: #20BD9A;
}

.banner .center-wrap {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -576px;
    width: 1152px;
    height: 100%;
}

.banner .center-wrap .banner-nav {
    width: 652px;
    height: 100%;
    position: relative;
}

.banner .center-wrap .leftbtn {
    position: absolute;
    width: 28px;
    height: 44px;
    background: url(../images/icons.png) no-repeat -21px -94px;
    top: 50%;
    left: -38px;
    margin-top: -22px;
}

.banner .center-wrap .rightbtn {
    position: absolute;
    width: 28px;
    height: 44px;
    background: url(../images/icons.png) no-repeat -21px -29px;
    top: 50%;
    right: -38px;
    margin-top: -22px;
}

.banner .center-wrap .leftbtn:hover,
.banner .center-wrap .rightbtn:hover {
    /* 透明度 */
    opacity: 0.8;
}

.banner .center-wrap .banner-nav>ul {
    height: 100%;
}

.banner .center-wrap .banner-nav>ul>li {
    width: 296px;
    height: 16.66%;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(231, 227, 227);
    background-color: rgba(0, 0, 0, .53);
    color: white;
    position: relative;
}

.banner .center-wrap .banner-nav>ul>li.curr {
    background-color: rgba(0, 0, 0, .63);
}

.banner .center-wrap .banner-nav>ul>li:last-child {
    border-bottom: none;
}

.banner .center-wrap .banner-nav>ul>li>dl {
    position: absolute;
    height: 48px;
    top: 50%;
    left: 42px;
    margin-top: -24px;
    color: white;
}

.banner .center-wrap .banner-nav>ul>li dl dt {
    font-size: 18px;
    line-height: 26px;
    height: 26px;
}

.banner .center-wrap .banner-nav>ul>li dl dd {
    font-size: 14px;
    line-height: 22px;
    height: 22px;
}

.banner .center-wrap .banner-nav>ul>li::before {
    content: '';
    position: absolute;
    background-image: url(../images/icons.png);
    top: 50%;
    left: 10px;
}

.banner .center-wrap .banner-nav>ul>li.hot::before {
    width: 22px;
    height: 18px;
    background-position: -29px -399px;
    margin-top: -9px;
}

.banner .center-wrap .banner-nav>ul>li.hk::before {
    width: 18px;
    height: 21px;
    background-position: -28px -217px;
    margin-top: -10.5px;
    left: 13px;
}

.banner .center-wrap .banner-nav>ul>li.jp::before {
    width: 24px;
    height: 19px;
    background-position: -25px -171px;
    margin-top: -9.5px;
}

.banner .center-wrap .banner-nav>ul>li.as::before {
    width: 18px;
    height: 19px;
    background-position: -28px -262px;
    margin-top: -9.5px;
    left: 12px;
}

.banner .center-wrap .banner-nav>ul>li.eu::before {
    width: 20px;
    height: 14px;
    background-position: -29px -351px;
    margin-top: -7px;
    left: 11px;
}

.banner .center-wrap .banner-nav>ul>li.au::before {
    width: 18px;
    height: 17px;
    background-position: -28px -305px;
    margin-top: -8.5px;
    left: 12px;
}

.banner .center-wrap .banner-nav .menu-box .menu {
    display: none;
    width: 356px;
    height: 100%;
    background-color: rgba(0, 0, 0, .63);
    position: absolute;
    top: 0;
    left: 296px;
    color: white;
    padding: 16px;
    box-sizing: border-box;
}

.banner .center-wrap .banner-nav .menu-box .menu.curr {
    display: block;
}

.banner .center-wrap .banner-nav .menu-box .menu dl {
    margin-bottom: 12px;
}

.banner .center-wrap .banner-nav .menu-box .menu dl dt {
    font-size: 16px;
    margin-bottom: 5px;
}

.banner .center-wrap .banner-nav .menu-box .menu dl dd {
    font-size: 12px;
    line-height: 18px;
}

.banner .center-wrap .banner-nav .menu-box .menu dl dd a {
    color: white;
}

.hot-ads {
    margin: 32px 0;
}

.hot-ads .center-wrap ul li {
    float: left;
    width: 264px;
    height: 110px;
    margin-right: 32px;
}

.hot-ads .center-wrap ul li:last-child {
    margin-right: 0;
}

.xxsw {
    height: 738px;
    background-color: #F7F7F7;
}

.content-box .center-wrap .hd h2 {
    font-size: 32px;
    font-weight: bold;
    color: #1C1F21;
}

.xxsw .center-wrap .hd {
    padding: 32px 0;
}

.xxsw .center-wrap .hd h2 {
    float: left;
}

.content-box .center-wrap .hd em {
    font-size: 12px;
    color: #1C1F21;
    position: relative;
    top: 18px;
    left: 18px;
}

/* .xxsw .center-wrap .hd em {
    font-size: 12px;
    color: #1C1F21;
    position: relative;
    top: 18px;
    left: 18px;
} */

.xxsw .center-wrap ul li {
    float: left;
    width: 264px;
    height: 270px;
    margin-right: 32px;
    background-color: #fff;
    margin-bottom: 32px;
}

.xxsw .center-wrap ul li:nth-child(4n) {
    margin-right: 0;
}

.xxsw .center-wrap ul li:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.20);
}

.xxsw .center-wrap ul li .picbox {
    height: 184px;
}

.xxsw .center-wrap ul li .wordbox {
    padding: 15px;
    font-size: 14px;
    color: #1C1F21;
}

.common-style {
    height: 738px;
}

.common-style .center-wrap .hd {
    padding-top: 40px;
}

.common-style .center-wrap .hd h2 {
    float: left;
}

.content-box .center-wrap .hd nav {
    float: right;
}

.content-box .center-wrap .hd nav>ul {
    margin-top: 12px;
}

.content-box .center-wrap .hd nav>ul>li {
    float: left;
    margin-right: 16px;
}

.content-box .center-wrap .hd nav>ul>li:last-child {
    margin-right: 0;
}

.content-box .center-wrap .hd nav>ul>li a {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
}

.content-box .center-wrap .hd nav>ul>li.current a {
    color: #20BD9A;
}

.content-box .center-wrap .hd nav>ul>li.current {
    padding-bottom: 2px;
    border-bottom: 4px solid#20BD9A;
}

.content-box img {
    transition: transform .4s ease 0s;
}

.content-box img:hover {
    transform: scale(1.1);
}

.content-box li {
    overflow: hidden;
}

.common-style .center-wrap .bd {
    margin-top: 41px;
}

.common-style .center-wrap .bd>ul>li {
    float: left;
    margin: 0 32px 32px 0;
    background-color: white
}

.common-style .center-wrap .bd>ul>li:nth-child(3),
.common-style .center-wrap .bd>ul>li:nth-child(7) {
    margin-right: 0;
}

.common-style .center-wrap .bd>ul>li.big-grid {
    width: 560px;
    height: 270px;
    position: relative;
}

.common-style .center-wrap .bd>ul>li.big-grid .tag {
    display: block;
    width: 74px;
    height: 40px;
    background-color: #1C1F21;
    opacity: 0.6;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 126px;
    z-index: 9999;
}

.common-style .center-wrap .bd>ul>li.big-grid .info {
    width: 508px;
    height: 73px;
    position: absolute;
    bottom: 0;
    line-height: 22px;
    padding: 30px 26px 0 26px;
    color: white;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.55);
}

.common-style .center-wrap .bd>ul>li.pro-grid {
    width: 264px;
    height: 270px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
}

.common-style .center-wrap .bd>ul>li.pro-grid:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20);
}

.common-style .center-wrap .bd>ul>li.more-grid {
    width: 264px;
    height: 270px;
}

.common-style .center-wrap .bd>ul>li.pro-grid .picbox {
    height: 184px;
    position: relative;
}

.common-style .center-wrap .bd>ul>li.pro-grid .picbox .tag {
    display: block;
    width: 74px;
    height: 40px;
    background-color: #1C1F21;
    opacity: 0.6;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    z-index: 9999;
}

.common-style .center-wrap .bd>ul>li.pro-grid .wordbox {
    padding: 15px;
    font-size: 14px;
    color: #1C1F21;
    overflow: hidden;
}

.common-style .center-wrap .bd .more-grid {
    width: 264px;
    height: 270px;
    background-image: linear-gradient(180deg, #34E3BC 0%, #15AF7A 98%);
    box-sizing: border-box;
}

.content-box .center-wrap .bd .more-grid {
    position: relative;
}

.content-box .center-wrap .bd .more-grid a {
    display: block;
    height: 270px;
    padding-top: 46px;
    box-sizing: border-box;
}

.content-box .center-wrap .bd .more-grid p {
    text-align: center;
    color: white;
    line-height: 24px;
    font-size: 15px;
}

.content-box .center-wrap .bd .more-grid .iconfont {
    position: absolute;
    font-size: 48px;
    color: white;
    width: 48px;
    height: 48px;
    left: 50%;
    top: 118px;
    margin-left: -24px;
}

.content-box .center-wrap .bd .more-grid:hover .iconfont {
    animation: ud .4s ease 0s infinite alternate;
}

@keyframes ud {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(10px);
    }
}

.content-box .center-wrap .bd .more-grid ul {
    margin-top: 112px;
    padding-left: 40px;
}

.content-box .center-wrap .bd .more-grid ul li {
    color: white;
    float: left;
    border-right: 1px solid white;
    padding: 0 9px;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
}

.content-box .center-wrap .bd .more-grid ul li:last-child {
    border-right: none;
}

.ddwl {
    height: 586px;
    background-color: #F7F7F7;
}

.ddwl .center-wrap .hd {
    padding-top: 40px;
}

.ddwl .center-wrap .hd h2 {
    float: left;
}

.ddwl .center-wrap .hd nav ul li {
    padding: 0 14px;
}

.ddwl .center-wrap .bd {
    height: 420px;
    margin-top: 41px;
}

.ddwl .center-wrap .bd .col {
    float: left;
    height: 420px;
    width: 364px;
    margin-right: 30px;
    overflow: hidden;
}

.ddwl .center-wrap .bd .col:last-child {
    margin-right: 0;
}

.ddwl .center-wrap .bd .col .bigpicbox {
    height: 270px;
    width: 364px;
    margin-bottom: 30px;
    position: relative;
}

.ddwl .center-wrap .bd .col .bigpicbox .info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 322px;
    height: 87px;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    font-size: 14px;
    padding: 17px 21px 0 21px;
}

.ddwl .center-wrap .bd .col .bigpicbox .info .bottom {
    margin-top: 4px;
}

.ddwl .center-wrap .bd .col .bigpicbox .info .tag {
    float: left;
    z-index: 9999;
}

.ddwl .center-wrap .bd .col .bigpicbox .info .price {
    float: right;
}

.ddwl .center-wrap .bd .col .bigpicbox .info .price strong {
    color: #36DFBA;
}

.ddwl .center-wrap .bd .col .grid {
    width: 364px;
    height: 120px;
    margin-bottom: 30px;
    overflow: hidden;
}

.ddwl .center-wrap .bd .col .grid .picbox {
    float: left;
    width: 120px;
    height: 120px;
}

.ddwl .center-wrap .bd .col .grid .wordbox {
    float: left;
    width: 226px;
    height: 94px;
    padding: 26px 9px 0;
    /* box-sizing: border-box; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    font-size: 14px;
    color: #000;
}

.ddwl .center-wrap .bd .col .grid:hover .wordbox {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20);
}

.ddwl .center-wrap .bd .more-grid {
    width: 364px;
    height: 270px;
    background-image: linear-gradient(180deg, #FF6374 0%, #FF7368 98%);
    box-sizing: border-box;
}

.tsddty {
    height: 456px;
}

.tsddty .hd {
    width: 100%;
    text-align: center;
    padding-top: 40px;
}

.tsddty .bd {
    height: 290px;
    padding: 32px 0 40px 0;
}

.tsddty .bd ul li {
    float: left;
    width: 264px;
    height: 290px;
    margin-right: 32px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
}

.tsddty .bd ul li:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20);
}

.tsddty .bd ul li:last-child {
    margin-right: 0;
}

.tsddty .bd ul li .wordbox {
    padding: 16px 8px 16px 14px;
}

.tsddty .bd ul li .wordbox .proname {
    height: 48px;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}

.tsddty .bd ul li .wordbox .score {
    color: #FA6400;
    font-size: 16px;
}

.tsddty .bd ul li .wordbox .comment {
    color: #000000;
    font-size: 12px;
}

.zsjsdlx {
    background-color: #F7F7F7;
}

.zsjsdlx .center-wrap .bd .more-grid {
    background-image: linear-gradient(180deg, #BD5EE8 0%, #832ABB 98%);
}

.zsjsdlx .center-wrap .big-grid .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: opacity 1s ease 0s;
}

.zsjsdlx .center-wrap .big-grid:hover .mask {
    opacity: 1;
}

.zsjsdlx .center-wrap .big-grid .circle {
    width: 106px;
    height: 106px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -106px;
    left: 50%;
    margin-top: -53px;
    margin-left: -53px;
    box-sizing: border-box;
    padding-top: 25px;
    color: #fff;
    text-align: center;
    transition: top .5s ease 0s;
}

.zsjsdlx .center-wrap .big-grid:hover .circle {
    top: 50%;
}

.zsjsdlx .center-wrap .big-grid .word {
    height: 22px;
    position: absolute;
    top: 270px;
    left: 26px;
    box-sizing: border-box;
    color: #fff;
    transition: top .5s ease 0s;
}

.zsjsdlx .center-wrap .big-grid:hover .word {
    top: 218px;
}

.gtbzzy .center-wrap .bd .more-grid {
    background-image: linear-gradient(180deg, #41D8E9 0%, #3685EA 98%);
}

.gtbzzy .center-wrap .big-grid .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: opacity 1s ease 0s;
}

.gtbzzy .center-wrap .big-grid:hover .mask {
    opacity: 1;
}

.gtbzzy .center-wrap .big-grid .circle {
    width: 106px;
    height: 106px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -106px;
    left: 50%;
    margin-top: -53px;
    margin-left: -53px;
    box-sizing: border-box;
    padding-top: 25px;
    color: #fff;
    text-align: center;
    transition: top .5s ease 0s;
}

.gtbzzy .center-wrap .big-grid:hover .circle {
    top: 50%;
}

.gtbzzy .center-wrap .big-grid .word {
    height: 22px;
    position: absolute;
    top: 270px;
    left: 26px;
    box-sizing: border-box;
    color: #fff;
    transition: top .5s ease 0s;
}

.gtbzzy .center-wrap .big-grid:hover .word {
    top: 218px;
}

.content-box .center-wrap .bd .more-grid ul {
    padding-left: 70px;
}

footer .part1 {
    height: 220px;
    background-color: #f7f7f7;
}
footer .part1 ul {
    padding-top: 36px;
}
footer .part1 ul li {
    float: left;
    border-right: 1px solid #1C1F21;
    padding: 0 30px;
    height: 16px;
    line-height: 16px;
}
footer .part1 ul li a {
    color: #1C1F21;
    font-size: 16px;
}
footer .part1 ul li:first-child {
    padding-left: 0;
}
footer .part1 ul li:last-child {
    border-right: none;
    padding-right: 0;
}
footer .part1 .dlbox{
    padding-top: 40px;
}
footer .part1 dl {
    width: 289px;
    float: left;
    padding-left: 75px;
    margin-right: 30px;
    position: relative;
}
footer .part1 dl:last-child {
    margin-right: 0;
}
footer .part1 dl dt {
    font-weight: bold;
    margin-bottom: 10px;
}
footer .part1 dl::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url(../images/icons.png);
    left: 0;
}
footer .part1 dl dd {
    font-size: 14px;
}
footer .part1 dl.txfw::before {
    background-position: -150px -178px;
}
footer .part1 dl.ccsx::before {
    background-position: -150px -104px;
}
footer .part1 dl.axph::before {
    background-position: -150px -31px;
}
footer .part2 {
    height: 225px;
    background-color: #1C1F21;
}
footer .part2 .r1 {
    padding-top: 48px;
    color: white;
}
footer .part2 .r1 h2 {
    float: left;
    font-size: 46px;
}
footer .part2 .r1 .slogan {
    float: left;
    width: 532px;
    font-size: 14px;
    margin-left: 21px;
    position: relative;
    top: 14px;
}
footer .part2 .links {
    padding-top: 30px;
}
footer .part2 .links li {
    float: left;
    border-right: 1px solid white;
    padding: 0 10px;
    font-size: 14px;
    line-height: 14px;
    height: 14px;
}
footer .part2 .links li a{
    color: white;
}
footer .part2 .links li:first-child {
    padding-left: 0;
}
footer .part2 .links li:last-child {
    border-right: none;
}
footer .copyrights {
    color: white;
    padding-top: 20px;
    font-size: 14px;
}
footer .copyrights a {
    color: white;
}

.backTop {
    position: fixed;
    bottom: 80px;
    right: 80px;
    width: 80px;
    height: 80px;
    background: #ccc;
    font-size: 20px;
    text-align: center;
    padding-top: 12px;
    box-sizing: border-box;
    color: #000;
    /* 隐藏元素 */
    display: none;
}