.content-box .center-wrap .hd h2 {
    font-size: 32px;
    font-weight: bold;
    color: #1C1F21;
}

.content-box .center-wrap .hd em {
    font-size: 12px;
    color: #1C1F21;
    position: relative;
    top: 18px;
    left: 18px;
}

.common-style {
    height: 738px;
}

.common-style .center-wrap .hd {
    padding-top: 40px;
}

.common-style .center-wrap .hd h2 {
    float: left;
}

.content-box .center-wrap .hd nav {
    float: right;
}

.content-box .center-wrap .hd nav>ul {
    margin-top: 12px;
}

.content-box .center-wrap .hd nav>ul>li {
    float: left;
    margin-right: 16px;
}

.content-box .center-wrap .hd nav>ul>li:last-child {
    margin-right: 0;
}

.content-box .center-wrap .hd nav>ul>li a {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
}

.content-box .center-wrap .hd nav>ul>li.current a {
    color: #20BD9A;
}

.content-box .center-wrap .hd nav>ul>li.current {
    padding-bottom: 2px;
    border-bottom: 4px solid#20BD9A;
}

.content-box img {
    transition: transform .4s ease 0s;
}

.content-box img:hover {
    transform: scale(1.1);
}

.content-box li {
    overflow: hidden;
}

.common-style .center-wrap .bd {
    margin-top: 41px;
}

.common-style .center-wrap .bd>ul>li {
    float: left;
    margin: 0 32px 32px 0;
    background-color: white
}

.common-style .center-wrap .bd>ul>li:nth-child(3),
.common-style .center-wrap .bd>ul>li:nth-child(7) {
    margin-right: 0;
}

.common-style .center-wrap .bd>ul>li.big-grid {
    width: 560px;
    height: 270px;
    position: relative;
}

.common-style .center-wrap .bd>ul>li.big-grid .tag {
    display: block;
    width: 74px;
    height: 40px;
    background-color: #1C1F21;
    opacity: 0.6;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 126px;
    z-index: 9999;
}

.common-style .center-wrap .bd>ul>li.big-grid .info {
    width: 508px;
    height: 73px;
    position: absolute;
    bottom: 0;
    line-height: 22px;
    padding: 30px 26px 0 26px;
    color: white;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.55);
}

.common-style .center-wrap .bd>ul>li.pro-grid {
    width: 264px;
    height: 270px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
}

.common-style .center-wrap .bd>ul>li.pro-grid:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20);
}

.common-style .center-wrap .bd>ul>li.more-grid {
    width: 264px;
    height: 270px;
}

.common-style .center-wrap .bd>ul>li.pro-grid .picbox {
    height: 184px;
    position: relative;
}

.common-style .center-wrap .bd>ul>li.pro-grid .picbox .tag {
    display: block;
    width: 74px;
    height: 40px;
    background-color: #1C1F21;
    opacity: 0.6;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    z-index: 9999;
}

.common-style .center-wrap .bd>ul>li.pro-grid .wordbox {
    padding: 15px;
    font-size: 14px;
    color: #1C1F21;
    overflow: hidden;
}

.common-style .center-wrap .bd .more-grid {
    width: 264px;
    height: 270px;
    background-image: linear-gradient(180deg, #34E3BC 0%, #15AF7A 98%);
    box-sizing: border-box;
}

.content-box .center-wrap .bd .more-grid {
    position: relative;
}

.content-box .center-wrap .bd .more-grid a {
    display: block;
    height: 270px;
    padding-top: 46px;
    box-sizing: border-box;
}

.content-box .center-wrap .bd .more-grid p {
    text-align: center;
    color: white;
    line-height: 24px;
    font-size: 15px;
}

.content-box .center-wrap .bd .more-grid .iconfont {
    position: absolute;
    font-size: 48px;
    color: white;
    width: 48px;
    height: 48px;
    left: 50%;
    top: 118px;
    margin-left: -24px;
}

.content-box .center-wrap .bd .more-grid:hover .iconfont {
    animation: ud .4s ease 0s infinite alternate;
}

@keyframes ud {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(10px);
    }
}

.content-box .center-wrap .bd .more-grid ul {
    margin-top: 112px;
    padding-left: 40px;
}

.content-box .center-wrap .bd .more-grid ul li {
    color: white;
    float: left;
    border-right: 1px solid white;
    padding: 0 9px;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
}

.content-box .center-wrap .bd .more-grid ul li:last-child {
    border-right: none;
}