* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
    /* 去除点击事件的背景颜色 */
    -webkit-tap-highlight-color: transparent;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style: none;
}
img {
    vertical-align: top;
}