.site-head .main-nav {
    min-width: 1152px;
    height: 40px;
    background-color: #20BD9A;
    line-height: 40px;
}

.site-head .main-nav ul>li {
    float: left;
    margin-right: 18px;
}

.site-head .main-nav ul>li a {
    color: white;
    font-size: 16px;
}

.site-head .main-nav ul>li.have-menu {
    padding-right: 16px;
    position: relative;
}

.site-head .main-nav ul>li.have-menu:hover::before {
    transform: rotate(180deg);
}

.site-head .main-nav ul>li.have-menu::before {
    content: '';
    width: 0px;
    height: 0px;
    border: 5px solid transparent;
    border-bottom: none;
    border-top-color: white;
    position: absolute;
    top: 50%;
    right: 2px;
    margin-top: -2.5px;
    transition: transform .25s ease 0s;
}

.site-head .main-nav ul>li.have-menu .menu {
    position: absolute;
    top: 40px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20);
    display: none;
    padding: 8px;
    z-index: 9999;
}

.site-head .main-nav ul>li.have-menu:hover .menu {
    display: block;
}

.site-head .main-nav ul>li.have-menu .gtymenu {
    width: 160px;
}

.site-head .main-nav ul>li.have-menu .ddwlmenu {
    width: 106px;
}

.site-head .main-nav ul>li.have-menu .sdlymenu {
    width: 172px;
}

.site-head .main-nav ul>li.have-menu .jjzyxmenu {
    width: 118px;
}

.site-head .main-nav ul>li.have-menu .menu dl dt {
    font-size: 14px;
    line-height: 18px;
    font-weight: bolder;
}

.site-head .main-nav ul>li.have-menu .menu dl dd a {
    font-size: 12px;
    line-height: 18px;
    color: #000;
}
