@font-face {
  font-family: 'iconfont';  /* Project id 3881736 */
  src: url('//at.alicdn.com/t/c/font_3881736_np5p439dsh.woff2?t=1676518561912') format('woff2'),
       url('//at.alicdn.com/t/c/font_3881736_np5p439dsh.woff?t=1676518561912') format('woff'),
       url('//at.alicdn.com/t/c/font_3881736_np5p439dsh.ttf?t=1676518561912') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}